#fullpage
  section.section.active.page-home
    h1.title 极客加速计划
    .logo
    .arrow-tip
  section.section.page-commun
    img src="assets/images/mobile/page-commun.png" alt=""/
  section.section.page-attention
    img src="assets/images/mobile/page-attention.png" alt=""/
  section.section.page-next
    img src="assets/images/mobile/page-next.png" alt=""/
  section.section.page-partner
    img src="assets/images/mobile/page-partner.png" alt=""/
  section.section.page-time
  section.section.page-plugin
  section.section.page-forward
    img src="assets/images/mobile/page-forward.png" alt=""/
  section.section.page-summary
    .logo.db-center
    h2.summary
      | 半年的极客加速计划
      br
      | 帮你更有效率的探索事业的下一章
    a.db-center.join-us target="_blank" href="http://www.mikecrm.com/f.php?t=ZMklgL"

