doctype html
html lang='en'
  head
    title
      | 极客加速计划
    link rel="shortcut icon" href="/favicon.ico?2"
    meta charset='utf-8'
    meta name="renderer" content="webkit"
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    meta content='initial-scale=1.0,maximum-scale=1.0,width=device-width' name='viewport' /
    meta name="description" content= ''
    meta name="keyword" conttent= ''
    link rel="stylesheet" href="assets/css/app.min.css"/
  body.home
    #pc-root.pc-root data-url="pc_template.html"
    #mobile-root.mobile-root data-url="mobile_template.html"
    script src="assets/js/app.min.js"
