.pc-root .page-forward {
  position: relative;
  .page-forward-txt {
    width: (1182px/2);
    height: (109px/2);
    background: url(../images/pages/page-forward-txt.png) 0 0 no-repeat;
    background-size: 100%;
    position: relative;
    left: 10px;
  }
  .cloud {
    width: (222px/2);
    height: (118px/2);
    background: url(../images/pages/page-forward-txt.png) 0 0 no-repeat;
    background-position: 0 (-160px/2);
    background-size: (1182px/2) (274px/2);
    position: absolute;
    left: 50%;
    bottom: 25%;
    margin-left: -55.5px;
    z-index: 5;
  }
  .cloud1 {
    bottom: 5%;
    margin-left: -180px;
  }
  .cloud3 {
    bottom: 10%;
    margin-left: 85px;
  }
  @mixin barList($offset) {
    $w: 60px;
    $init: -30px;
    margin-left: $init - $w * $offset;
  }
  .bar-area {
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  .bar {
    width: 60px;
    position: absolute;
    float: left;
    left: 50%;
    margin-left: -30px;
    background-color: #009fed;
    bottom: -15%;
  }
  .bar1 {
    @include barList(3);
    background-color: #45ced1;
    height: 260px;
  }
  .bar2 {
    @include barList(2);
    background-color: #8b6be0;
    height: 310px;
  }
  .bar3 {
    @include barList(1);
    background-color: #70bf41;
    height: 365px;
  }
  .bar4 {
    height: 400px;
  }
  .bar5 {
    @include barList(-1);
    background-color: #e7c527;
    height: 345px;
  }
  .bar6 {
    @include barList(-2);
    background-color: #d7642c;
    height: 360px;
  }
  .bar7 {
    @include barList(-3);
    background-color: #c1c947;
    height: 280px;
  }
}

.pc-root .page-forward.active {
  .bar {
    animation: barlist 1.2s ease;
  }
  .page-forward-txt,.cloud {
    opacity: 0;
    animation: forwardTxt 0.5s ease;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
  .cloud {
    animation-delay: 0.8s;
  }
}

@keyframes barlist {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes forwardTxt {
  from {
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

