.pc-root .page-summary {
  .page-summary-txt {
    width: (1138px/2);
    height: (178px/2);
    background: url(../images/pages/page-summary-txt.png) 0 0 no-repeat;
    background-size: 100%;
    margin-bottom: 3%;
  }
  .join-us {
    text-decoration: none;
    width: (322px/2);
    height: (91px/2);
    position: relative;
    left: -(322px/4);
    margin-bottom: 7%;
    span {
      background: url(../images/join_us.png) 0 0 no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: 100%;
      transition: all 0.2s ease;
      transform: scaleY(1);
      &.hover {
        transform: scaleY(0);
        background-position-y: -50px;
      }
    }
    &:hover {
      span.normal {
        transform: scaleY(0);
      }
      span.hover {
        transform: scaleY(1);
      }
    }
  }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* .page-summary.active {
  .page-summary-txt,.logo {
    animation: summaryTxt 0.5s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }} */

@keyframes summaryTxt {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.mobile-root {
  .summary {
    color: #fff;
    font-size: 1.5rem;
    line-height: 40px;
    max-width: 80%;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
  }
  .join-us {
    text-decoration: none;
    background: url(../images/join_us.png) 0 0 no-repeat;
    background-size: 100%;
    width: (322px/2);
    height: (91px/2);
    margin-bottom: 10%;
  }

}
