// pc-root class 用于切换背景动画

.pc-root {
  .page-home {
    position: relative;
    .txt {
      margin-top: 5%;
      height: 176px;
      background: url(../images/pages/page-home-txt.png) center center no-repeat;
      background-size: auto 100%;
      margin-bottom: 10%;
    }
    .arrow-tip {
      display: inline-block;
      background: url(../images/arrow.png) center center no-repeat;
      background-size: 100%;
      $zoom: 0.6;
      width: (59px * $zoom);
      height: (57px * $zoom);
      position: absolute;
      left: 50%;
      bottom: 10%;
      margin-left: -30px;
      animation: flipBottom 1s linear infinite;
      animation-direction:alternate;
    }

  } //.page-home end
} // .pc-root end

