.pc-root .page-next {
  .dollar {
    width: (970px/2);
    height: (1365px/2);
    position: relative;
    vertical-align: middle;
    display: inline-block;
    .item {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: (2910px/2) (1365px/2);
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url(../images/pages/dollar.png);
    }
    .section1 {
      background-position-x: 0;
      z-index: 5;
    }
    .section2 {
      z-index: 4;
    }
    .section3 {
      z-index: 3;
      background-position-x: -((2910px-2910px/3)/2);
    }
  }
  .page-next-main {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin-left: 5%;
  }
  .page-next-puzzle {
    width: 94px;
    height: 93px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/pages/page-next-puzzle.png) 0 0 no-repeat;
    background-size: 100%;
    vertical-align: top;
  }
  .page-next-txt {
    height: 86px;
    width: 400px;
    margin-top: 20%;
    background: url(../images/pages/page-next-txt.png) 0 0 no-repeat;
    background-size: 100%;
  }

  &.active {
    .page-next-main {
      opacity: 0;
      animation: opShow 1s ease;
      animation-delay: 3.5s;
      animation-fill-mode: forwards;
    }
    .dollar {
      position: relative;
      right: -236px;
      animation: dollarMoveLeft 0.5s ease;
      animation-delay: 3s;
      animation-fill-mode: forwards;
      .item {
        transform: scale(0);
        animation: dollarZoom 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        animation-delay: 1s;
        animation-fill-mode: forwards;
      }
      .section2 {
        animation-delay: 1.05s;
      }
      .section3 {
        animation-delay: 1.1s;
      }
    }
  }
  .shadow-bg {
    background-image: url(../images/shadow/s3.png);
    width: 185px;
    height: 184px;
    left: 2px;
    top: 2px;
    @include shadowShow(6s);
  }
}


@keyframes dollarZoom {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

@keyframes dollarMoveLeft {
  from { }
  to { right: 0; }
}

@keyframes opShow {
  from { }
  to { opacity: 1; }
}
