// pc-root class 用于切换背景动画

.pc-root {
  .page-commun {
    position: relative;
    .bubble {
      width: (170px/2);
      height: (146px/2);
      background: url(../images/pages/bubble.png) center center no-repeat;
      background-size: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .shadow-bg {
      background-image: url(../images/shadow/s1.png);
      width: 180px;
      height: 183px;
      opacity: 0;
    }
    .page-commun-txt {
      width: (667px/2);
      height: (194px/2);
      background: url(../images/pages/page-commun-txt.png) 0 0 no-repeat;
      background-size: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
    }
    .big-bubble {
      $width: 1053px;
      $height: 899px;
      .item {
        display: inline-block;
        position: absolute;
        width: ($width/2);
        height: ($height/2);
        background: url(../images/pages/big-bubble.png) 0 0 no-repeat;
        background-size: 100%;
        bottom: -($height/4.5);
        left: 50%;
      }
      @mixin zoomBg($zoom, $offset) {
        width: $width/$zoom;
        height: $height/$zoom;
        margin-left: -$width/$zoom/2*$offset;
      }
      .item1 {
        @include zoomBg(2.2, 3.5);
      }
      .item2 {
        @include zoomBg(3, 2.5);
      }
      .item3 {
        @include zoomBg(3.5, 1);
      }
      .item4 {
        @include zoomBg(3, -0.5);
      }
      .item5 {
        @include zoomBg(2, -1);
      }
    }

    // animation area

  } //.page-home end
} // .pc-root end

.pc-root .section.active.page-commun{
  .shadow-bg {
    @include shadowShow(1.8s);
  }
  .big-bubble {
    @mixin bubbleAnim ($animName){
      animation: $animName 1.5s ease;
      animation-fill-mode: forwards;
    }
    .item1 {
      @include bubbleAnim(bubble1);
    }
    .item2 {
      @include bubbleAnim(bubble2);
    }
    .item3 {
      @include bubbleAnim(bubble3);
    }
    .item4 {
      @include bubbleAnim(bubble4);
    }
    .item5 {
      @include bubbleAnim(bubble5);
    }
    .item {
    }
  }
}

@mixin bubbleAnim($bottom, $xOffset) {
  0% {
    bottom: $bottom;
    transform: translateX($xOffset);
  }
  100% {
    bottom: -200;
    transform: translateX(0%);
  }
}

@keyframes bubble1 {
  @include bubbleAnim(30%, 50%);
}

@keyframes bubble2 {
  @include bubbleAnim(30%, 0);
}
@keyframes bubble3 {
  @include bubbleAnim(30%, 0);
}
@keyframes bubble4 {
  @include bubbleAnim(30%, 0);
}
@keyframes bubble5 {
  @include bubbleAnim(30%, -50%);
}

