.pc-root {
  .circle {
    width: 75px;
    height: 75px;
    background: url(../images/circle.png) 0 0 no-repeat;
    background-size: 100%;
  }
  .page-attention-txt {
    width: 450px;
    height: 93px;
    background: url(../images/pages/page-attention-txt.png) 0 0 no-repeat;
    background-size: 100%;
    margin-top: 5%;
  }
}
