.pc-root .page-partner {
  .item {
    display: inline-block;
    width: (129px/2);
    height: (318px/2);
    background: url(../images/pages/page-partner-person.png) -(175px/2) 0 no-repeat;
    background-size: (304px/2) (318px/2);
    margin: 0 5px;
  }
  .person6 {
    width: (124px/2);
    height: (318px/2);
    background-position-x: 0px;
  }
  .page-partner-txt {
    width: (936px/2);
    height: (184px/2);
    background: url(../images/pages/page-partner-txt.png) 0 0 no-repeat;
    background-size: 100%;
    margin-top: 5%;
  }
}
