.pc-root .page-forward {
  position: relative;
  .page-forward-txt {
    width: (1182px/2);
    height: (109px/2);
    background: url(../images/pages/page-forward-txt.png) 0 0 no-repeat;
    background-size: 100%;
    position: relative;
    left: 10px;
  }
  .cloud {
    width: (222px/2);
    height: (118px/2);
    background: url(../images/pages/page-forward-txt.png) 0 0 no-repeat;
    background-position: 0 (-160px/2);
    background-size: (1182px/2) (274px/2);
    position: absolute;
    left: 50%;
    bottom: 25%;
    margin-left: -55.5px;
    z-index: 5;
  }
  .cloud1 {
    left: 40%;
    bottom: 5%;
  }
  .cloud3 {
    left:60%;
    bottom: 10%;
  }
  /* .bar-area {
    position: relative;
    bottom: 5%;
  } */
  @mixin barList($offset) {
    $w: 60px;
    $init: -30px;
    margin-left: $init - $w * $offset;
  }
  .bar-area {
    height: 360px;
    position: relative;
  }
  .bar {
    width: 60px;
    position: absolute;
    float: left;
    height: 200px;
    left: 50%;
    margin-left: -30px;
    background-color: #009fed;
    bottom: -10%;
  }
  .bar1 {
    @include barList(3);
    background-color: #45ced1;
  }
  .bar2 {
    @include barList(2);
    background-color: #8b6be0;
    height: 250px;
  }
  .bar3 {
    @include barList(1);
    background-color: #70bf41;
    height: 320px;
  }
  .bar4 {
    height: 360px;
  }
  .bar5 {
    @include barList(-1);
    background-color: #e7c527;
    height: 290px;
  }
  .bar6 {
    @include barList(-2);
    background-color: #d7642c;
    height: 330px;
  }
  .bar7 {
    @include barList(-3);
    background-color: #c1c947;
    height: 260px;
  }
}
