.pc-root .page-plugin {
  $bgw: (1142px/2);
  $bgh: (594px/2);
  .commonbg {
    background: url(../images/pages/page-plugin-txt.png) 0 0 no-repeat;
    background-size: $bgw $bgh;
  }
  @mixin adjustBg($x, $y, $w, $h) {
    background-position-x: -($x/2);
    background-position-y: -($y/2);
    width: ($w/2);
    height: ($h/2);
  }
  .underline {
    display: inline-block;
    $x: 120px;
    $y: 253px;
    $w: 265px;
    $h: 8px;
    @include adjustBg($x, $y, $w, $h);
  }
  .plus {
    display: inline-block;
    $w: 117px;
    $h: 120px;
    $x: 472px;
    $y: 74px;
    @include adjustBg($x, $y, $w, $h);
    margin: 0 50px;
  }
  .gicon {
    display: inline-block;
    $w: 260px;
    $h: 254px;
    $x: 691px;
    $y: 0px;
    @include adjustBg($x, $y, $w, $h);
  }
  .page-plugin-txt {
    $w: 1142px;
    $h: 158px;
    $x: 0;
    $y: 438px;
    @include adjustBg($x, $y, $w, $h);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    opacity: 0;
  }
}

.pc-root .page-plugin.active {
  .plus {
    animation: pluginPlus 1s ease-in-out;
    animation-delay: 1s;
  }
  .gicon,.underline {
    opacity: 0;
    animation: pluginGicon 0.8s ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  .underline {
    animation-name: pluginUnderline;
  }
  .page-plugin-txt {
    opacity: 0;
    animation: pluginTxt 0.8s ease;
    animation-delay: 2.8s;
    animation-fill-mode: forwards;
  }
  .shadow-bg {
    background-image: url(../images/shadow/s6.png);
    width: 291px;
    height: 290px;
    left: 1px;
    top: 1px;
    @include shadowShow(3.6s);
  }
}

@keyframes pluginPlus{
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(2turn);
  }
}

@keyframes pluginGicon {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pluginUnderline {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pluginTxt {
  from {
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
