.pc-root .page-summary {
  .page-summary-txt {
    width: (1138px/2);
    height: (178px/2);
    background: url(../images/pages/page-summary-txt.png) 0 0 no-repeat;
    background-size: 100%;
    margin-bottom: 10%;
  }
}
