// pc-root class 用于切换背景动画
.dib-center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.db-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.shadow-container {
  position: relative;
  display: inline-block;
  .shadow {
    position: relative;
    z-index: 5;
  }
  .shadow-bg {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.pc-root,.mobile-root {
  .section {
    background-size: 100% 100%;
    background-position: center center;
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: none;
    text-align: center;
  }

  .page-home {
    background-size: 100% 100%;
    background-image: url(../images/pages/bg-home.jpg);
  }

  .page-commun,.page-summary {
    background-color: #009fed;
  }

  .page-attention {
    background-color: #42af5c;
  }

  .page-next {
    background-color: #e8b400;
  }

  .page-partner {
    background-color: #923ab8;
  }

  .page-time,.page-plugin,.page-forward,.page-joinus {
    background-color: #eef1f5;
  }

  .logo {
    width: 172px;
    height: 34px;
    background-size: 100% 100%;
    display: inline-block;
    background-image: url(../images/logo.png);
  }
}

.mobile-root {
  .section img {
    max-width: 100%;
    max-height: 100%;
  }

  .page-home {
    background: transparent;
  }
}


@keyframes flipBottom {
  0%{transform: translateY(20px);opacity: 0;}
  50%{transform: translateY(10px);opacity: 0.5;}
  100%{transform: translateY(0px);opacity: 1;}
}
.anim-item {
  opacity: 0;
  transition: all 1s;
}

.section.active {
  .slidedown {
    opacity: 0;
    animation: slidedown 1s ease;
    transition: all 1s ease;
    animation-fill-mode: forwards;
  }
  .slideup  {
    opacity: 0;
    animation: slideup 1s ease;
    transition: all 1s ease;
    animation-fill-mode: forwards;
  }
}

@keyframes slidedown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideup {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@mixin shadowShow($delay) {
  opacity: 0;
  animation: shadowShow 0.5s ease;
  animation-delay: $delay;
  animation-fill-mode: forwards;
}

@keyframes shadowShow {
  from {
    opacity: 0;
    transform: scale(0);
    transform-origin: left top;
  }
  to {
    opacity: .4;
    transform: scale(1);
  }
}
